body {
	background-color: #353535;
}
.credit {
	font-size: large;
	color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 10px;
	margin-bottom: 10px;
}
img {
	height: 100px;
	width: auto;
}
.wrapper {
	display: flex;
	flex-direction: column;
	flex-flow: column-reverse;
	gap: 10px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 100px;
	width: auto;
	height: auto;
}
.text {
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 28px;
}
